services:
  frontend:
    build:
      context: . 
      dockerfile: Dockerfile 
    ports:
      - '3000:3000'
    volumes:
      - ./src:/usr/src # Синхронизация папки src
      - ./package.json:/usr/package.json 
    stdin_open: true # Для корректной работы hot-reload
    tty: true
    command: npm start
    environment:
      - CHOKIDAR_USEPOLLING=true
   