.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: auto;
  margin: 0 auto;
  background-color: var(--bg1);
  box-sizing: border-box;
}

.authContent {
  padding: 0 25px;
}
