.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 168px 0 56px;
  box-sizing: border-box;
  background-color: var(--bg1);
}

.footer li a {
  color: var(--black);
}

.navigationWrapper {
  margin-top: 45px;
}

.line {
  width: 377px;
  margin-top: 48px;
  border-top: 1px solid var(--black);
}

.privacyLink {
  margin-top: 30px;
  font-size: 16px;
  text-decoration: none;
  color: var(--gray);
}

.copyright {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 500;
  color: var(--black-2);
  text-align: center;
}

@media (max-width: 678px) {
  .footer {
    padding: 72px 26px 65px;
  }

  .navigationWrapper {
    margin-top: 30px;
  }

  .line {
    margin-top: 76px;
    width: 100%;
  }

  .privacyLink {
    margin-top: 66px;
  }
}