.header {
  display: flex;
  align-items: center;
  padding: 37px var(--content-padding) 0;
  width: 100%;
  max-width: var(--content-width);
  height: var(--header-height);
  margin: 0 auto;
  z-index: 1000;
  box-sizing: border-box;
  position: relative;
}
.h1 {
  font-family: 'MedievalSharp', cursive;
  font-weight: 600;
  margin-left: 10px;
  color: #31210e;
  font-style: normal;
  font-size: 60px;
  box-shadow: 30px ;
  text-shadow: 1px 5px 10px #00000062; 
}
.nav {
  position: absolute;
  right: 10px;
  display: flex;
  gap: var(--gap-regular);
  width: 500px;
  .navItem{
    color: black;
    font-size: 18px;
    text-decoration: none;
    
  }
}
.navItem:hover{
    text-shadow: 5px 5px 10px #00000062; 
    cursor: pointer;
  }
 

.mobileMenu {
  display: none;
}

.logo {
  order: 1;
  display: block;
  text-decoration: none;
  width: 100px;
  height: 100px;
  background-size: contain;
}

.menuWrapper {
  order: 2;
}

.getStarted {
  order: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 192px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--white);
  color: var(--purple-2);
  font-size: 18px;
}

@media (max-width: 1100px) {
  .header {
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 18px var(--content-padding-mobile) 0;
    height: var(--header-height-mobile);
  }

  .mobileMenu {
    display: block;
    width: 20px;
    min-height: 12px;
    background: url(../../assets/images/mobile-menu.svg) no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  .logo {
    margin: 0 auto;
  }

  .menuWrapper {
    display: none;
  }

  .getStarted {
    display: none;
  }
}
