.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.h2{
  margin: 10px 0;
  font-size: 30px;
  font-weight: 500;
}

.modalContent {
  background-color:var(--bg1) ;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  position: relative;
}

.closeBtn {
  background: #f00;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
.error {
  color: #ff0000;
  font-size: 14px;
}

.title {
  margin: 6px 0;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin-left: 40px;
}


.btn {
  background-color: var(--bg2);
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgb(67, 49, 28);
  color: black;
  cursor: pointer;
}

.label {
  
}