.wrapper {
  margin: 50px auto 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  gap: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

.guides_container {
  width: 300px;
  background-color: var(--container);
  border-radius: 20px;
  padding: 20px;
  height: auto;
}
.guides {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding-top: 10px;
  background-color: var(--container);
}
.guide_feed {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px; 
  padding: 20px;
  width: 100%;
}

.search_btn {
  padding: 10px;
  border-radius: 10px;
  background-color: #dbdbdb;
  cursor: pointer;
  margin: 8px auto;
  &:hover {
  background-color: #d0d0d0;
  }
}
.guide_plate {
  min-width: 220px;
  height: 300px;
  padding: 20px;
  background-color: #dbdbdb;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.201);
  transition: background-color 0.2s;
}

.load_more_btn {
  max-width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: #ad8c30;
  position: absolute; 
  bottom: -50px;
  padding: 10px;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%); 
  &:hover {
    background-color: #94792d;
  }
}

.textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 100px;
  resize: vertical;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
}
.guide_plate:hover {
  background-color: #b6b6b6;
}

.underline {
  background-color: #000;
  height: 2px;
  margin-bottom: 20px;
}

.search_input {
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid #787878cc;
  margin: 10px auto;
}

.intro_message {
  text-align: left;
  padding: 40px;
  color: #333;
}

.previewWrapper {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}