.wrapper {
  margin: 50px auto 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1240px;
  width: 100%;
  min-height: 100vh;
  gap: 20px;
  font-size: 16px;
  box-sizing: border-box;
}

.guides_container {
  width: 300px;
  background-color: var(--container);
  border-radius: 20px;
  padding: 20px;
  height: auto;
}

.show_favorites {
  display: flex;
  margin: 10px 0;
}

.guides {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px 0;
  background-color: var(--container);
}

.h2 {
  margin-bottom: 20px;
  font-size: 32px;
}

.search_btn {
  padding: 10px;
  border-radius: 10px;
  background-color: #dbdbdb;
  cursor: pointer;
  margin: 8px 2px;
  transition: background-color 0.2s ease;
}

.search_btn:hover {
  background-color: #d0d0d0;
}

.btn_container {
  display: flex;
  justify-content: space-between;
}

.add_to_favorites_btn {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: #dbdbdb;
  cursor: pointer;
}

.add_to_favorites_btn:hover {
  background-color: #d0d0d0;
}

.guide_feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 280px));
  justify-content: space-around;
  gap: 10px 0;
  width: 100%;
  box-sizing: border-box;
}

.guide_plate_img {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.2s ease;
}

.guide_plate_img:hover {
  transform: scale(1.01);
}

.guide_plate_prev {
  width: 240px;
  height: 320px;
  padding: 20px;
  background-color: #dcdcdc86;
}

.guide_plate_p {
  margin-top: 30px;
  color: #343434;
  word-wrap: break-word;
  word-break: break-word;
  text-align: left;
}

.guide_plate_title {
  word-wrap: break-word;
  word-break: break-word;
  text-align: left;
}

.padding {
  padding: 20px;
  text-align: center;
}

.load_more_btn {
  max-width: 150px;
  height: 30px;
  border-radius: 10px;
  background-color: #ad8c30;
  position: absolute;
  bottom: -50px;
  padding: 10px;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
  transition: background-color 0.2s ease;
}

.load_more_btn:hover {
  background-color: #94792d;
}

.textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 100px;
  resize: vertical;
  font-family: inherit;
  font-size: 1rem;
  width: 100%;
}

.btn_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.underline {
  background-color: #000;
  height: 2px;
  margin-bottom: 20px;
}

.search_input {
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid #787878cc;
  margin: 10px auto;
}

.previewWrapper {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
}
