.wrapper {
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  text-align: center;
}

.container {
  background-color: var(--container);
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 1200px;
  text-align: center;
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.errorCode {
  margin: 0 0 20px;
  line-height: 0.8;
  font-size: 200px;
  font-weight: 500;
}

.form {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 8px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--bg2);
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgb(67, 49, 28);
  color: black;
  cursor: pointer;
}

.p {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  color: #333;
}

.profileInfo {
  display: flex;
  gap: 50px;
}

.profilePhoto img:hover {
  transform: scale(1.05);
}

.profileDetails {
  flex: 1;
  margin-right: 20px;
  display: flex;
  flex-direction: column;

}

.profilePhoto {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  background-color: #f0e2c8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePhoto img {
  height: 100%; 
  object-fit: cover;
  object-position: center; 
  transition: transform 0.3s;
}

.profileInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.input {
  padding: 10px 20px;
  min-width: 322px;
  border-radius: 10px;
  border: 1px solid rgba(120, 120, 120, 0.8);
  background-color: lightgray;
  margin: 10px 0;
  font-size: 20px;
}