:root {
  --black: #202020;
  --black-2: #1c171e;
  --brown: #c38f2a;
  --gray: #8d8d8d;
  --gray-2: #dcdcdc;
  --bg1: #f5e3cb;
  --bg2: #bbb27f;
  --white: #fff;
  --content-width: 1250px;
  --content-padding: 16px;
  --content-padding-mobile: 28px;
  --header-height: 98px;
  --header-height-mobile: 178px;
  --gap-regular: 24px;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--bg1);
}

p,
h1,
h2 {
  margin: 0;
}

button {
  border: none;
  padding: 0;
}

.bold {
  font-weight: bold;
}

.hidden {
  display: none;
}
.dropdown_menu_strings div {
  margin: 3px;
  width: 26px;
  height: 4px;
  background-color: #43300cbf;
  border-radius: 2px;
}
.input {
  padding: 10px 20px;
  min-width: 280px;
  border-radius: 10px;
  border: 1px solid rgba(120, 120, 120, 0.8);
  background-color: lightgray;
  margin: 10px 0;
  font-size: 20px;
}