.wrapper {
  margin: 50px auto 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  gap: 10px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
}

.h3 {
  margin-top: 10px;
}

.creator {
  width: 100%;
  max-width: 980px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.cropper {
  margin: 10px auto;
}

.creator_container,
.guides_container,
.creator_intro {
  background-color: var(--container);
  border-radius: 20px;
  padding: 10px;
  height: auto;

}

.creator_intro {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  text-align: left;
}

.creator_container {
  flex-direction: column;
  width: 100%;
  display: flex;
}

.h2 {
  text-align: center;
}

.guides_container {
  width: 200px;

  height: auto;
}

.guide_plate,
.previous_themes {
  margin: 8px 0;
  padding: 6px 8px;
  background-color: #dbdbdb;
  border-radius: 20px;
  cursor: pointer;
}

.previous_themes:hover {
  background-color: #b6b6b6;
}

.underline {
  background-color: #000;
  height: 1px;
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.wrapper_themes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 10px 0;
}

.container_themes {

  display: flex;
}

.selectedThemes {
  display: flex;
  flex-wrap: wrap;
}

.chapter {
  border: 1px solid #c7c7c7;
  border-radius: 10px;
  margin-bottom: 10px;
}

.chapterItem {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #c7c7c7;
}

.wrapper_flex {
  display: flex;
  gap: 20px;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.previous_themes_wrapper {
  display: flex;
}

.previous_themes {
  margin: 0 8px;
}

.formInline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.label {
  position: relative;
}

.ErrorMessage {
  position: absolute;
  color: red;
  font-size: 12px;
}

.inputInline {
  flex: 1;
}

.btn {
  margin: 4px;
  max-width: 150px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--bg2);
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid rgb(167, 167, 167);
  color: #000000;
  cursor: pointer;
}

.wrapper_btn {
  display: flex;
  justify-content: center;
}

.btnInline {
  margin-left: 10px;
}

.grey_text {
  color: #757575;
}

.dell_btn {
  font-weight: 900;
  font-size: 16px;
  background-color: #00000000;
  padding: 2px 6px;
  cursor: pointer;
  color: #ff0000;

  :hover {
    font-size: 18px;
  }
}

.red {
  background-color: #df0f00d8;
}

.themeItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.input,
.field {
  padding: 10px 20px;
  min-width: 322px;
  border-radius: 10px;
  border: 1px solid #787878cc;
  background-color: #dbdbdb;
  margin: 10px 0;
  font-size: 20px;
}

.field {
  height: 80px;
  resize: none;
}


.guide_plate_prev {
  width: 220px;
  height: 300px;
  text-wrap: wrap;
  padding: 20px;
  background-color: #dcdcdc86;

}

.guide_plate_img {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.guide_plate_p,
.guide_plate_title {
  text-align: left;
  word-wrap: break-word;
  word-break: break-word;
}

.guide_plate_p {
  margin-top: 30px;
  color: #343434;
}

.imagePreview {
  max-width: 800px;
  max-height: 600px;
}

.react_quill {
  width: 100%;
}

.imageWrapper,
.videoWrapper {
  margin: 0 auto;
}

.contentItem {
  display: flex;
  gap: 20px;
  margin: 20px;
  text-align: start;
  flex-direction: column;
}