.wrapper {
  margin: 50px auto 0;
  display: flex;
  width: 1200px;
  gap: 20px;
  font-size: 16px;
  text-align: center;
}

.creator_container,
.guides_container {
  background-color: #ffffff77;
  border-radius: 20px;
  padding: 10px;
  width: 100%;

}

.guides_container {
  width: 200px;

  :hover {
    background-color: #b6b6b6;
  }
}

.guide_plate,
.previous_themes {
  margin: 8px 0;
  padding: 6px 8px;
  background-color: #dbdbdb;
  border-radius: 20px;
  cursor: pointer;
}

.underline {
  background-color: #000;
  height: 1px;
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.wrapper_themes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 10px 0;
}

.container_themes {

  display: flex;
}

.selectedThemes {
  display: flex;
  flex-wrap: wrap;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.previous_themes_wrapper {
  display: flex;
}

.previous_themes {
  margin: 0 8px;
}

.formInline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.label {
  position: relative;
}

.ErrorMessage {
  position: absolute;
  color: red;
  font-size: 12px;
}

.inputInline {
  flex: 1;
}

.btn {
  margin: 4px;
  max-width: 150px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--bg2);
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid rgb(67, 49, 28);
  color: #000000;
  cursor: pointer;
}

.btnInline {
  margin-left: 10px;
}

.dell_btn {
  font-weight: 900;
  font-size: 16px;
  background-color: #00000000;
  padding: 2px 6px;
  cursor: pointer;
  color: #ff0000;

  :hover {
    font-size: 18px;
  }
}

.themeItem {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.input {
  padding: 10px 20px;
  min-width: 322px;
  border-radius: 10px;
  border: 1px solid #787878cc;
  background-color: #dbdbdb;
  margin: 10px 0;
  font-size: 20px;
}