.wrapper {
  min-height: 100vh;
  
  display: grid;
  grid-template-rows: auto auto 1fr ;
  margin: 0 auto;
  background-color: #ffffffab;
  box-sizing: border-box;
  align-items: start;
}

.authContent {
  padding: 0 25px;
}
