.wrapper {
  margin: 50px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-width: 1240px;
  width: 100%;
  gap: 10px;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  background-color: var(--container);
  border-radius: 20px;
  padding: 10px;
}

.description {
  font-size: 16px;
  max-width: 600px;
  color: #555;
  text-align: center;
  margin: 10px 0 20px;
  line-height: 1.6;
}

.creator {
  width: 100%;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
}

.title {
  font-size: 22px;
  font-weight: 500;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.label {
  font-size: 14px;
  margin-bottom: 5px;
}
.checkbox_label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  margin-top: 10px;
}

.checkbox {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox_label:hover {
  color: #333;
}

.input {
  padding: 10px 20px;
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  border: 1px solid #787878cc;
  background-color: #dbdbdb;
  font-size: 16px;
  margin-bottom: 10px;
}

.submit_button {
  max-width: 150px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--bg2);
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid rgb(167, 167, 167);
  color: #000000;
  cursor: pointer;
}

.submit_button:hover {
  background-color: var(--bg2);
}
